<footer>
    <p class="follow">
      Follow our Account on Instagram

      <a href="#"> r@r.com </a>
    </p>

    <p class="design">Designed and developed by Roney Suleiman © 2023</p>
  </footer>