<header class="myheader">
    <h1>
        <a style="all: unset; cursor: pointer;" href="/">CRUD Products</a>
    </h1>

    <nav>
      <ul class="parent">
        <li>
          <a href="#">
            Home Page
          </a>
        </li>
        <li><a href="/new-article"> Add New Article </a></li>
        <li id="dark" class="mode">change mode</li>
        <li><a href=""> Support Us </a></li>
      </ul>
    </nav>
  </header>